<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>SDG Sports</h1>
            <h6 class="lead">&hearts; For the students of Suncoast Developers Guild</h6>
        </div>
        <div class="col-md-3">
            <img src="~/Images/sports.jpg" class="img-circle" height="150" width="150">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/football.jpg">
            <div class="caption text-center">
                <h3>Football</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/baseball.jpg">
            <div class="caption text-center">
                <h3>Baseball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/basketball.jpg">
            <div class="caption text-center">
                <h3>Basketball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/quidditch.jpg">
            <div class="caption text-center">
                <h3>Quidditch</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="bg-warning text-warning">We've added some brand new features in version 2.0!<a style="font-size: small" href="#">Learn More</a></h3>
        </div>
    </div>
    <div class="row  bg-info center-block">
        <div class="col-md-8">
            <h3 style="font-size:medium"><span class="glyphicon glyphicon-user"></span> Please <a class="text-muted" href="#"><strong>log in</strong></a> to edit </h3>
        </div>
        <div class="col-md-4 ">
            <button type="submit" class="btn btn-primary btn-md pull-right navbar-btn align-middle">FaceBook</button>
        </div>
    </div>

